[submodule "autoload/vim-plug"]
	path = autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://bitbucket.efs-techhub.com/scm/~ua833/dotfiles.git
